<section class="pt-large pb-xlarge" data-scroll-section>
    <div style="height: 100vh"></div>
    <div class="container">
        <h2 class="xl split-lines">
            lazy blur images
        </h2>
        <div class="line-x mb-5"></div>
        <div class="row g-5">
            <div class="col-md-6">
                {% Image "src/assets/img/hero/blog-brand-essence.jpg", "Bootstrap" %}
            </div>
            <div class="col-md-6">
                {% Image "src/assets/img/hero/blog-marketing-strategy.jpg", "Bootstrap" %}
            </div>
            <div class="col-md-6">
                {% Image "src/assets/img/hero/blog-media-seo.jpg", "Bootstrap" %}
            </div>
            <div class="col-md-6">
                {% Image "src/assets/img/hero/blog-responsive.jpg", "Bootstrap" %}
            </div>
            <div class="col-md-6">
                {% Image "src/assets/img/hero/mockuper.png", "Bootstrap" %}
            </div>
            <div class="col-md-6">
                {% Image "src/assets/img/hero/strona-firmowa.jpg", "Bootstrap" %} 
            </div>
            <div class="col-md-6">
                {% Image "src/assets/img/hero/wcag.jpg", "Bootstrap" %}
            </div>
            <div class="col-md-6">
                {% Image "src/assets/img/hero/wykonanie-strony.jpg", "Bootstrap" %}
            </div>
              <div class="col-md-6">
                {% Image "src/assets/img/hero/k-8.jpeg", "Bootstrap" %}
            </div>
            <div class="col-md-6">
                {% Image "src/assets/img/hero/k-6.jpg", "Bootstrap" %}
            </div>
            <div class="col-md-6">
                {% Image "src/assets/img/hero/k-5.jpg", "Bootstrap" %}
            </div>
            <div class="col-md-6">
                {% Image "src/assets/img/hero/k-4.jpg", "Bootstrap" %}
            </div>
            <div class="col-md-6">
                {% Image "src/assets/img/hero/k-3.jpg", "Bootstrap" %} 
            </div>
            <div class="col-md-6">
                {% Image "src/assets/img/hero/k-2.jpg", "Bootstrap" %}
            </div>
            <div class="col-md-6">
                {% Image "src/assets/img/hero/k-1.jpg", "Bootstrap" %}
            </div>
        </div>
    </div>
</section>
